In [8]:
import pandas as pd

df = pd.read_csv("../data/gemini/electronic_sales.csv", index_col="Transaction_ID")
df

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method
Transaction_ID,,,,,,,
1001,Smartphone X,Smartphones,1,799.99,2025-10-01,Bogota,Card
1002,Laptop Pro,Laptops,1,1250.00,2025-10-01,Medellin,Cash
1003,Headphones Z,Accessories,3,49.99,2025-10-02,Bogota,Card
1004,Mechanical Keyboard,Accessories,2,85.50,2025-10-02,Cali,PSE
1005,Wireless Mouse,Accessories,5,25.00,2025-10-03,Bogota,Card
1006,Curved Monitor,Monitors,1,349.99,2025-10-03,Medellin,Cash
1007,Smartphone Y,Smartphones,2,549.99,2025-10-04,Cali,PSE
1008,External Hard Drive,Storage,1,120.00,2025-10-04,Bogota,Card
1009,USB Stick 64GB,Storage,10,15.00,2025-10-05,Barranquilla,Cash
1010,Laptop Lite,Laptops,1,699.00,2025-10-05,Bogota,Card
1011,Webcam HD,Accessories,4,35.99,2025-10-06,Medellin,PSE
1012,Laser Printer,Peripherals,1,199.99,2025-10-06,Cali,Card
1013,Headphones Z,Accessories,1,49.99,2025-10-07,Bogota,Cash
1014,Smartphone X,Smartphones,1,799.99,2025-10-07,Bogota,Card
1015,Laptop Pro,Laptops,1,1250.00,2025-10-08,Barranquilla,PSE
1016,Mechanical Keyboard,Accessories,1,85.50,2025-10-08,Medellin,Card
1017,HDMI Cable 2m,Accessories,8,12.50,2025-10-09,Bogota,Cash
1018,Flat Monitor,Monitors,1,250.00,2025-10-09,Cali,Card
1019,Smartphone Y,Smartphones,1,549.99,2025-10-10,Medellin,PSE
1020,SSD 500GB,Storage,1,65.00,2025-10-10,Bogota,Card

In [9]:
# Quick Inspection: Display the first 5 rows of the DataFrame and its general information (data types, non-null values).
df.head()

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method
Transaction_ID,,,,,,,
1001,Smartphone X,Smartphones,1,799.99,2025-10-01,Bogota,Card
1002,Laptop Pro,Laptops,1,1250.00,2025-10-01,Medellin,Cash
1003,Headphones Z,Accessories,3,49.99,2025-10-02,Bogota,Card
1004,Mechanical Keyboard,Accessories,2,85.50,2025-10-02,Cali,PSE
1005,Wireless Mouse,Accessories,5,25.00,2025-10-03,Bogota,Card

In [10]:
# Type Conversion: Convert the Sale_Date column to the datetime data type.
df["Sale_Date"] = pd.to_datetime(df["Sale_Date"])
df

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method
Transaction_ID,,,,,,,
1001,Smartphone X,Smartphones,1,799.99,2025-10-01,Bogota,Card
1002,Laptop Pro,Laptops,1,1250.00,2025-10-01,Medellin,Cash
1003,Headphones Z,Accessories,3,49.99,2025-10-02,Bogota,Card
1004,Mechanical Keyboard,Accessories,2,85.50,2025-10-02,Cali,PSE
1005,Wireless Mouse,Accessories,5,25.00,2025-10-03,Bogota,Card
1006,Curved Monitor,Monitors,1,349.99,2025-10-03,Medellin,Cash
1007,Smartphone Y,Smartphones,2,549.99,2025-10-04,Cali,PSE
1008,External Hard Drive,Storage,1,120.00,2025-10-04,Bogota,Card
1009,USB Stick 64GB,Storage,10,15.00,2025-10-05,Barranquilla,Cash
1010,Laptop Lite,Laptops,1,699.00,2025-10-05,Bogota,Card
1011,Webcam HD,Accessories,4,35.99,2025-10-06,Medellin,PSE
1012,Laser Printer,Peripherals,1,199.99,2025-10-06,Cali,Card
1013,Headphones Z,Accessories,1,49.99,2025-10-07,Bogota,Cash
1014,Smartphone X,Smartphones,1,799.99,2025-10-07,Bogota,Card
1015,Laptop Pro,Laptops,1,1250.00,2025-10-08,Barranquilla,PSE
1016,Mechanical Keyboard,Accessories,1,85.50,2025-10-08,Medellin,Card
1017,HDMI Cable 2m,Accessories,8,12.50,2025-10-09,Bogota,Cash
1018,Flat Monitor,Monitors,1,250.00,2025-10-09,Cali,Card
1019,Smartphone Y,Smartphones,1,549.99,2025-10-10,Medellin,PSE
1020,SSD 500GB,Storage,1,65.00,2025-10-10,Bogota,Card

In [11]:
# Null Check: Check if there are any null values in the DataFrame. (Although this CSV is clean, this is a crucial step).
df.isnull().sum()

Product           0
Category          0
Quantity          0
Unit_Price        0
Sale_Date         0
City              0
Payment_Method    0
dtype: int64

In [12]:
# Descriptive Statistics: Show the descriptive statistics for the numerical columns.
df.describe()

        Quantity   Unit_Price            Sale_Date
count  20.000000    20.000000                   20
mean    2.350000   362.170500  2025-10-05 12:00:00
min     1.000000    12.500000  2025-10-01 00:00:00
25%     1.000000    49.990000  2025-10-03 00:00:00
50%     1.000000   159.995000  2025-10-05 12:00:00
75%     2.250000   587.242500  2025-10-08 00:00:00
max    10.000000  1250.000000  2025-10-10 00:00:00
std     2.560325   406.573073                  NaN

In [13]:
# Total Calculation: Create a new column named Total_Sale which is the result of multiplying Quantity by Unit_Price.
df["Total_Sale"] = df["Quantity"] * df["Unit_Price"]
df

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method,Total_Sale
Transaction_ID,,,,,,,,
1001,Smartphone X,Smartphones,1,799.99,2025-10-01,Bogota,Card,799.99
1002,Laptop Pro,Laptops,1,1250.00,2025-10-01,Medellin,Cash,1250.00
1003,Headphones Z,Accessories,3,49.99,2025-10-02,Bogota,Card,149.97
1004,Mechanical Keyboard,Accessories,2,85.50,2025-10-02,Cali,PSE,171.00
1005,Wireless Mouse,Accessories,5,25.00,2025-10-03,Bogota,Card,125.00
1006,Curved Monitor,Monitors,1,349.99,2025-10-03,Medellin,Cash,349.99
1007,Smartphone Y,Smartphones,2,549.99,2025-10-04,Cali,PSE,1099.98
1008,External Hard Drive,Storage,1,120.00,2025-10-04,Bogota,Card,120.00
1009,USB Stick 64GB,Storage,10,15.00,2025-10-05,Barranquilla,Cash,150.00
1010,Laptop Lite,Laptops,1,699.00,2025-10-05,Bogota,Card,699.00
1011,Webcam HD,Accessories,4,35.99,2025-10-06,Medellin,PSE,143.96
1012,Laser Printer,Peripherals,1,199.99,2025-10-06,Cali,Card,199.99
1013,Headphones Z,Accessories,1,49.99,2025-10-07,Bogota,Cash,49.99
1014,Smartphone X,Smartphones,1,799.99,2025-10-07,Bogota,Card,799.99
1015,Laptop Pro,Laptops,1,1250.00,2025-10-08,Barranquilla,PSE,1250.00
1016,Mechanical Keyboard,Accessories,1,85.50,2025-10-08,Medellin,Card,85.50
1017,HDMI Cable 2m,Accessories,8,12.50,2025-10-09,Bogota,Cash,100.00
1018,Flat Monitor,Monitors,1,250.00,2025-10-09,Cali,Card,250.00
1019,Smartphone Y,Smartphones,1,549.99,2025-10-10,Medellin,PSE,549.99
1020,SSD 500GB,Storage,1,65.00,2025-10-10,Bogota,Card,65.00

In [14]:
# Day Extraction: Create a column named Day_of_Week that contains the day of the week (e.g., 'Monday', 'Tuesday', etc.) derived from the Sale_Date column.
df["Day_of_Week"] = df["Sale_Date"].dt.day_name()
df

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method,Total_Sale,Day_of_Week
Transaction_ID,,,,,,,,,
1001,Smartphone X,Smartphones,1,799.99,2025-10-01,Bogota,Card,799.99,Wednesday
1002,Laptop Pro,Laptops,1,1250.00,2025-10-01,Medellin,Cash,1250.00,Wednesday
1003,Headphones Z,Accessories,3,49.99,2025-10-02,Bogota,Card,149.97,Thursday
1004,Mechanical Keyboard,Accessories,2,85.50,2025-10-02,Cali,PSE,171.00,Thursday
1005,Wireless Mouse,Accessories,5,25.00,2025-10-03,Bogota,Card,125.00,Friday
1006,Curved Monitor,Monitors,1,349.99,2025-10-03,Medellin,Cash,349.99,Friday
1007,Smartphone Y,Smartphones,2,549.99,2025-10-04,Cali,PSE,1099.98,Saturday
1008,External Hard Drive,Storage,1,120.00,2025-10-04,Bogota,Card,120.00,Saturday
1009,USB Stick 64GB,Storage,10,15.00,2025-10-05,Barranquilla,Cash,150.00,Sunday
1010,Laptop Lite,Laptops,1,699.00,2025-10-05,Bogota,Card,699.00,Sunday
1011,Webcam HD,Accessories,4,35.99,2025-10-06,Medellin,PSE,143.96,Monday
1012,Laser Printer,Peripherals,1,199.99,2025-10-06,Cali,Card,199.99,Monday
1013,Headphones Z,Accessories,1,49.99,2025-10-07,Bogota,Cash,49.99,Tuesday
1014,Smartphone X,Smartphones,1,799.99,2025-10-07,Bogota,Card,799.99,Tuesday
1015,Laptop Pro,Laptops,1,1250.00,2025-10-08,Barranquilla,PSE,1250.00,Wednesday
1016,Mechanical Keyboard,Accessories,1,85.50,2025-10-08,Medellin,Card,85.50,Wednesday
1017,HDMI Cable 2m,Accessories,8,12.50,2025-10-09,Bogota,Cash,100.00,Thursday
1018,Flat Monitor,Monitors,1,250.00,2025-10-09,Cali,Card,250.00,Thursday
1019,Smartphone Y,Smartphones,1,549.99,2025-10-10,Medellin,PSE,549.99,Friday
1020,SSD 500GB,Storage,1,65.00,2025-10-10,Bogota,Card,65.00,Friday

In [15]:
df

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method,Total_Sale,Day_of_Week
Transaction_ID,,,,,,,,,
1001,Smartphone X,Smartphones,1,799.99,2025-10-01,Bogota,Card,799.99,Wednesday
1002,Laptop Pro,Laptops,1,1250.00,2025-10-01,Medellin,Cash,1250.00,Wednesday
1003,Headphones Z,Accessories,3,49.99,2025-10-02,Bogota,Card,149.97,Thursday
1004,Mechanical Keyboard,Accessories,2,85.50,2025-10-02,Cali,PSE,171.00,Thursday
1005,Wireless Mouse,Accessories,5,25.00,2025-10-03,Bogota,Card,125.00,Friday
1006,Curved Monitor,Monitors,1,349.99,2025-10-03,Medellin,Cash,349.99,Friday
1007,Smartphone Y,Smartphones,2,549.99,2025-10-04,Cali,PSE,1099.98,Saturday
1008,External Hard Drive,Storage,1,120.00,2025-10-04,Bogota,Card,120.00,Saturday
1009,USB Stick 64GB,Storage,10,15.00,2025-10-05,Barranquilla,Cash,150.00,Sunday
1010,Laptop Lite,Laptops,1,699.00,2025-10-05,Bogota,Card,699.00,Sunday
1011,Webcam HD,Accessories,4,35.99,2025-10-06,Medellin,PSE,143.96,Monday
1012,Laser Printer,Peripherals,1,199.99,2025-10-06,Cali,Card,199.99,Monday
1013,Headphones Z,Accessories,1,49.99,2025-10-07,Bogota,Cash,49.99,Tuesday
1014,Smartphone X,Smartphones,1,799.99,2025-10-07,Bogota,Card,799.99,Tuesday
1015,Laptop Pro,Laptops,1,1250.00,2025-10-08,Barranquilla,PSE,1250.00,Wednesday
1016,Mechanical Keyboard,Accessories,1,85.50,2025-10-08,Medellin,Card,85.50,Wednesday
1017,HDMI Cable 2m,Accessories,8,12.50,2025-10-09,Bogota,Cash,100.00,Thursday
1018,Flat Monitor,Monitors,1,250.00,2025-10-09,Cali,Card,250.00,Thursday
1019,Smartphone Y,Smartphones,1,549.99,2025-10-10,Medellin,PSE,549.99,Friday
1020,SSD 500GB,Storage,1,65.00,2025-10-10,Bogota,Card,65.00,Friday

In [17]:
# Conditional Filter: Select and display only the rows where the Quantity sold is greater than 1.
df[df["Quantity"] > 1]

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method,Total_Sale,Day_of_Week
Transaction_ID,,,,,,,,,
1003,Headphones Z,Accessories,3,49.99,2025-10-02,Bogota,Card,149.97,Thursday
1004,Mechanical Keyboard,Accessories,2,85.50,2025-10-02,Cali,PSE,171.00,Thursday
1005,Wireless Mouse,Accessories,5,25.00,2025-10-03,Bogota,Card,125.00,Friday
1007,Smartphone Y,Smartphones,2,549.99,2025-10-04,Cali,PSE,1099.98,Saturday
1009,USB Stick 64GB,Storage,10,15.00,2025-10-05,Barranquilla,Cash,150.00,Sunday
1011,Webcam HD,Accessories,4,35.99,2025-10-06,Medellin,PSE,143.96,Monday
1017,HDMI Cable 2m,Accessories,8,12.50,2025-10-09,Bogota,Cash,100.00,Thursday

In [20]:
# Compound Filter: Select transactions that belong to the 'Smartphones' Category and had a Payment_Method of 'Card'.
df[(df["Category"].str.contains("Smartphones")) & (df["Payment_Method"].str.contains("Card"))]

,Product,Category,Quantity,Unit_Price,Sale_Date,City,Payment_Method,Total_Sale,Day_of_Week
Transaction_ID,,,,,,,,,
1001,Smartphone X,Smartphones,1,799.99,2025-10-01,Bogota,Card,799.99,Wednesday
1014,Smartphone X,Smartphones,1,799.99,2025-10-07,Bogota,Card,799.99,Tuesday

In [23]:
# Specific Column Selection: Create a new DataFrame containing only the columns Product, Category, and Total_Sale.
new_df = df[["Product","Category", "Total_Sale"]]
new_df

                            Product     Category  Total_Sale
Transaction_ID
1001                   Smartphone X  Smartphones      799.99
1002                     Laptop Pro      Laptops     1250.00
1003                   Headphones Z  Accessories      149.97
1004            Mechanical Keyboard  Accessories      171.00
1005                 Wireless Mouse  Accessories      125.00
1006                 Curved Monitor     Monitors      349.99
1007                   Smartphone Y  Smartphones     1099.98
1008            External Hard Drive      Storage      120.00
1009                 USB Stick 64GB      Storage      150.00
1010                    Laptop Lite      Laptops      699.00
1011                      Webcam HD  Accessories      143.96
1012                  Laser Printer  Peripherals      199.99
1013                   Headphones Z  Accessories       49.99
1014                   Smartphone X  Smartphones      799.99
1015                     Laptop Pro      Laptops     1250.00
1016            Mechanical Keyboard  Accessories       85.50
1017                  HDMI Cable 2m  Accessories      100.00
1018                   Flat Monitor     Monitors      250.00
1019                   Smartphone Y  Smartphones      549.99
1020                      SSD 500GB      Storage       65.00

In [37]:
# Sales by City: Calculate the sum of the Total_Sale for each City. Which city has the highest sales?
sales_by_city = df.groupby("City").sum(numeric_only=True)
sales_by_city.sort_values(by="Total_Sale", ascending=False)

              Quantity  Unit_Price  Total_Sale
City
Bogota              22     2621.46     2908.94
Medellin             8     2271.47     2379.44
Cali                 6     1085.48     1720.97
Barranquilla        11     1265.00     1400.00

In [35]:
# Count by Category: Count how many transactions there are for each Category.
count_by_category = df.groupby("Category").sum(numeric_only=True)
count_by_category.sort_values(by="Quantity", ascending=False)

             Quantity  Unit_Price  Total_Sale
Category
Accessories        24      344.47      825.42
Storage            12      200.00      335.00
Smartphones         5     2699.96     3249.95
Laptops             3     3199.00     3199.00
Monitors            2      599.99      599.99
Peripherals         1      199.99      199.99

In [48]:
# Multiple Aggregation: Group by Category and calculate the minimum, maximum, and average of the Unit_Price.
count_by_category["Unit_Price"].describe()
# max = 3199
# min = 199
# mean/avg = 1207

count       6.00000
mean     1207.23500
std      1366.56727
min       199.99000
25%       236.11750
50%       472.23000
75%      2174.96750
max      3199.00000
Name: Unit_Price, dtype: float64

In [56]:
# Most Expensive Product: Sort the DataFrame by Unit_Price in descending order and display the most expensive product sold.
mep = df["Unit_Price"].sort_values( ascending = False)
mep.head()

Transaction_ID
1002    1250.00
1015    1250.00
1014     799.99
1001     799.99
1010     699.00
Name: Unit_Price, dtype: float64